<!-- Footer component used across all pages for site navigation and social links. -->
<footer>
<p style="color: white;">&copy; 2026 Salmaan. All Rights Reserved.</p>

<nav> 
	<ul>
		<li><a href="Homepage.html"> Home</a></li>
		<li><a href="About.html"> About</a></li>
		<li><a href="Resume.html">Resume</a></li>
		<li><a href="Projects.html">Projects</a></li>
		<li><a href="Blog.html">Blog</a></li>
		<li><a href="Contact.html">Contact</a></li>
		
	</ul>
	
</nav>



<div class="social-icons">
  <a href="https://www.youtube.com/" target="_blank"  style="font-size: 2rem; padding: 10px; display: inline-block; margin:10px">
		<i class="fa fa-youtube" style="font-size: 2rem; padding: 10px; display: inline-block; margin:10px;" ></i>
  </a>
  <a href="https://www.instagram.com/" target="_blank">
	  <i class="fa fa-instagram" style="font-size: 2rem; padding: 10px; display: inline-block; margin:10px;"></i>
  </a>
 </div>


</footer>
